/*마이페이지*/
* {
  margin: 0;
  padding: 0;
}

#mypage {
  width: 100%;
}

img {
  border: 0;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 600;
  color: black;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
}
header {
  width: 100%;
  height: 80px;

  border-bottom: 1px solid #ccc;
}

header > .in_header {
  width: auto;
  height: 100%;

  margin: 0 270px;

  line-height: 80px;

  position: relative;

  display: flex;
}

.menu {
  width: auto;
  height: 100%;

  display: flex;

  position: absolute;
  left: 0;
}

.menu > li {
  padding-right: 60px;

  font-size: 16px;
}

.logo > a {
  font-size: 26px;
  font-weight: 500;
}

.logo > a:hover {
  font-weight: 600;
}

.util_wrap {
  width: auto;
  height: 100%;

  position: absolute;
  right: 0;
}

.util {
  display: flex;
  align-items: center;
}

.util > li {
  margin-right: 22px;
}

.util > li:last-child {
  margin-right: 0;
}

#search_icon {
  width: 314px;
  height: 42px;
  padding: 10px 10px 10px 46px;
  background-color: #eeeeee;

  border: 1px solid #b1b1b1;
  border-radius: 30px;

  position: relative;

  color: rgb(175, 175, 175);

  box-sizing: border-box;

  outline: none;
}

.material-icons {
  display: block;
}

#material-icons_search {
  position: absolute;
  top: 37%;
  left: 2%;
}

#material-icons_book_mark {
  font-size: 30px;
}

#material-icons_nofi {
  font-size: 30px;
}

.profile_img {
  width: 45px;
  height: 45px;

  border-radius: 50%;
}

.profile_img > img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.btn.btn-dark {
  width: 103px;
  height: 40px;
  border-radius: 20px;
}

#profileImg {
  border-radius: 50%;
  margin-right: 10px;
}

#profilePage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profileWrapper {
  width: auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
#profileWrapper > h2 {
  text-align: center;
}

#profileView {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#profileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#imgInput {
  display: none;
}

#imgLabel {
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.mypage_text {
  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.mypage_background {
  background-color: grey;
  height: 120px;
}

.mypage_profile {
  background-color: rgb(174, 174, 174);
  height: 300px;
}
.mypage_photo {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 70%;
  vertical-align: middle;
}

.mypage_photoout {
  text-align: center;
}

.mypage_textbox {
  text-align: center;
}

.mypage_gwanshimsa {
  text-align: center;
}

.mypost {
  padding: 30px;
}
#comment-list {
  text-align: center;
}

/*마이페이지*/
